<section>
  <div>
    <div>
      <a href="/index.html">
        <img
          src="/img/header/fontisto_yacht.svg"
          alt="Logo"
          width="23"
          height="23"
        />
        <span>YACHT ADVENTURES</span>
      </a>
      <nav>
        <ul>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">Yachts</a>
          </li>
          <li>
            <a href="">Reviews</a>
          </li>
        </ul>
      </nav>
      <div>
        <p>We in social</p>
        <ul>
          <li><a href="" target="_blank"><img src="/img/footer/facebook.svg" alt=""></a></li>
          <li><a href="" target="_blank"><img src="/img/footer/instagram.svg" alt=""></a></li>
          <li><a href="" target="_blank"><img src="/img/footer/youtube.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
    <p></p>
  </div>
</section>
