<footer>
  <div>
    <div>
      <a href="/index.html">
        <img
          src="/img/header/fontisto_yacht.svg"
          alt="Logo"
          width="23"
          height="23"
        />
        <span>YACHT ADVENTURES</span>
      </a>
      <nav>
        <ul>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">Yachts</a>
          </li>
          <li>
            <a href="">Reviews</a>
          </li>
        </ul>
      </nav>
      <div>
        <p>We in social</p>
        <ul>
          <li>
            <a
              title="facebook"
              href="https://facebook.com"
              target="_blank"
              rel="noopener noreferer"
              ><img src="/img/footer/facebook.svg" alt="Facebook"
            /></a>
          </li>
          <li>
            <a
              title="instagram"
              href="https://instagram.com"
              target="_blank"
              rel="noopener noreferer"
              ><img src="/img/footer/instagram.svg" alt="Instagram"
            /></a>
          </li>
          <li>
            <a
              title="youtube"
              href="https://youtube.com"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="/img/footer/youtube.svg" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <p></p>
  </div>
</footer>
