<header class="header">
  <div class="header-container container">
    <a class="logo" href="/index.html">
      <svg class="header-logo-img" width="23" height="23">
        <use href="/img/sprite.svg#logo"></use>
      </svg>
      <span class="logo-text">YACHT ADVENTURES</span>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#yachts">Yachts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
