<header class="header">
  <a class="header-logo" href="/index.html">
    <img
      class="header-logo-img"
      src="/img/header/fontisto_yacht.svg"
      alt="Logo"
      width="23"
      height="23"
    />
    <span class="header-logo-text">YACHT ADVENTURES</span>
  </a>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a class="header-nav-link" href="">About</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Yachts</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Reviews</a>
      </li>
    </ul>
  </nav>
</header>
