<section class="hero">
  <div class="container hero-container">
    <div class="hero-right-content">
      <h1 class="title">
        Explore the High Seas with
        <span class="hero-right-accent">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="hero-right-text">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <div class="hero-right-list">
        <a href="#about" class="btn hero-right-btn1" type="button"
          >Get Started</a
        >
        <a
          href="#services"
          class="btn hero-right-btn2"
          type="button"
          id="scroll-btn"
        >
          Explore
        </a>
      </div>
    </div>
    <div class="hero-left-content">
      <div class="hero-image-container">
        <div class="hero-clients-wraper">
          <ul class="hero-clients-list">
            <li class="hero-clients-item">
              <img
                class="hero-clients-img"
                src="/img/hero/client-1.png"
                alt="First client"
              />
            </li>
            <li class="hero-clients-item">
              <img
                class="hero-clients-img"
                src="/img/hero/client-2.png"
                alt="Second client"
              />
            </li>
            <li class="hero-clients-item">
              <img
                class="hero-clients-img"
                src="/img/hero/client-3.png"
                alt="Third client"
              />
            </li>
          </ul>
          <p class="hero-clients-text">Our Clients</p>
        </div>

        <img class="hero-owner-img" src="/img/hero/man.png" alt="Owner" />
        <img class="hero-yacht-img" src="/img/hero/yacht.png" alt="Yacht" />
        <div class="hero-left-sign">
          <p class="hero-left-digit">$12M</p>
          <p class="hero-left-text">
            Book now and make your dream yacht rental a reality
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
