<section class="hero">
  <div>
    <img src="/img/hero/mask-group.svg" alt="Maska" />
    <img src="/img/hero/clients.png" alt="Clients" />
    <img src="/img/hero/man.jpg" alt="Owner" />
    <img src="/img/hero/yaht.jpg" alt="Yacht" />
    <div>
      <p>$12M</p>
      <p>Book now and make your dream yacht rental a reality</p>
    </div>
  </div>
  <div>
    <h1 class="title">
      Explore the High Seas with <span>Our Luxury Yacht</span> Rentals
    </h1>
    <p>
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <ul>
      <li><button type="button">Get Started</button></li>
      <li><button type="button">Explore</button></li>
    </ul>
  </div>
</section>
