<div class="backdrop" data-modal>
  <div class="modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="src/img/modal/yaht_mob@1x.png" width="20" height="20">
        <use href="/img/sprite.svg#close"></use>
      </svg>
    </button>
    <div>
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            /img/modal/yaht_tab@1x.webp 1x,
            /img/modal/yaht_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/modal/yaht_tab@1x.png 1x, /img/modal/yaht_tab@2x.png 2x"
          type="image/png"
        />
        <source
          media="(max-width: 767px )"
          srcset="
            /img/modal/yaht_mob@1x.webp 1x,
            /img/modal/yaht_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/modal/yaht_mob@1x.png 1x, /img/modal/yaht_mob@2x.png 2x"
          type="image/png"
        />
        <img
          class="modal-img"
          src="/img/modal/yaht_tab@1x.png"
          alt="Yaht"
          width="338"
          height="198"
          loading="lazy"
        />
      </picture>
      <div class="modal-info">
        <h3 class="subtitle" data-modal-greeting>Thank you</h3>
        <p class="modal-text">
          Thank you for choosing Yacht Adventures, your booking details have
          been received and our team will be in touch shortly to confirm your
          reservation and provide any additional information or assistance you
          may need.
        </p>
      </div>
    </div>
  </div>
</div>
