<section>
  <div>
    <div>
      <h2>Rent a yacht now</h2>
      <img
        src="/img/rent/rent-yaht.jpg"
        alt="Rent yaht"
        width="281"
        height="191"
      />
    </div>
    <div>
      <form>
        <input type="text" placeholder="Full Name" />
        <input type="email" placeholder="Email" />
        <input type="tel" placeholder="Phone number" />
        <textarea name="comment" placeholder="comment"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
