<section class="rent">
  <div class="rent-container container">
    <div class="rent-content">
      <h2 class="title rent-title">Rent a yacht now</h2>
      <img
        src="/img/rent/yaht-rent.png"
        alt="Rent yaht"
        width="281"
        height="191"
      />
    </div>

    <form
      class="rent-form"
      name="rent_form"
      id="rent-form"
      autocomplete="on"
      method="post"
    >
      <label class="rent-form-field">
        <input
          class="rent-form-input"
          type="text"
          name="username"
          placeholder="Oksana"
          required
        />
        <span class="rent-form-tag">Full Name</span>
      </label>

      <label class="rent-form-field"
        ><input
          class="rent-form-input"
          type="email"
          name="email"
          placeholder="example@gmail.com"
          required
        /><span class="rent-form-tag">Email</span></label
      >

      <label class="rent-form-field">
        <input
          class="rent-form-input"
          type="tel"
          name="phone"
          placeholder="+380935432119"
          required
        /><span class="rent-form-tag">Phone number</span>
      </label>
      <label class="rent-form-field comment">
        <textarea
          class="rent-form-comment"
          name="comment"
          placeholder="&nbsp;"
        ></textarea>
        <span class="rent-form-tag">Comment</span>
      </label>
      <button class="rent-form-btn" type="submit" data-modal-open>
        Send
        <svg class="rent-btn-icon" width="18" height="8.66">
          <use href="/img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </form>
  </div>
</section>
