<section class="rent">
  <div class="rent-container container">
    <div class="rent-content">
      <h2 class="title rent-title">Rent a yacht now</h2>
      <img
        src="/img/rent/yaht-rent.png"
        alt="Rent yaht"
        width="281"
        height="191"
      />
    </div>
    <div class="rent-form">
      <form id="rent-form">
        <input type="text" placeholder="Full Name" />
        <input type="email" placeholder="Email" />
        <input type="tel" placeholder="Phone number" />
        <textarea name="comment" placeholder="comment"></textarea>
        <button class="rent-form-btn" type="submit" data-modal-open>
          Send
          <svg class="rent-btn-icon" width="18" height="8.66">
            <use href="/img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
