<section class="services" id="services">
  <div class="container services-container">
    <h2 class="visually-hidden">Yaht Adventures</h2>
    <ul class="services-gallery">
      <li class="services-thumb">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/services-img/diving_desk@1x.webp 1x,
              /img/services-img/diving_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/services-img/diving_desk@1x.png 1x,
              /img/services-img/diving_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/services-img/diving_tab@1x.webp 1x,
              /img/services-img/diving_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/services-img/diving_tab@1x.png 1x,
              /img/services-img/diving_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/services-img/diving_mob@1x.webp 1x,
              /img/services-img/diving_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/services-img/diving_mob@1x.png 1x,
              /img/services-img/diving_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="services-img"
            src="/img/services-img/diving_desk@1x.png"
            alt="Diving"
            width="712"
            height="632"
            loading="lazy"
          />
        </picture>
        <p class="services-text">Diving</p>
      </li>
      <li class="services-thumb">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/services-img/fishing_desk@1x.webp 1x,
              /img/services-img/fishing_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/services-img/fishing_desk@1x.png 1x,
              /img/services-img/fishing_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/services-img/fishing_tab@1x.webp 1x,
              /img/services-img/fishing_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/services-img/fishing_tab@1x.png 1x,
              /img/services-img/fishing_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/services-img/fishing_mob@1x.webp 1x,
              /img/services-img/fishing_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/services-img/fishing_mob@1x.png 1x,
              /img/services-img/fishing_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="services-img"
            src="/img/services-img/fishing_desk@1x.png"
            alt="Fishing"
            width="440"
            height="428"
            loading="lazy"
          />
        </picture>
        <p class="services-text">Fishing</p>
      </li>
      <li class="services-thumb">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/services-img/sunbathing_desk@1x.webp 1x,
              /img/services-img/sunbathing_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/services-img/sunbathing_desk@1x.png 1x,
              /img/services-img/sunbathing_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/services-img/sunbathing_tab@1x.webp 1x,
              /img/services-img/sunbathing_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/services-img/sunbathing_tab@1x.png 1x,
              /img/services-img/sunbathing_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/services-img/sunbathing_mob@1x.webp 1x,
              /img/services-img/sunbathing_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/services-img/sunbathing_mob@1x.png 1x,
              /img/services-img/sunbathing_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="services-img"
            src="/img/services-img/sunbathing_desk@1x.png"
            alt="Sunbathing"
            width="436"
            height="352"
            loading="lazy"
          />
        </picture>
        <p class="services-text">Sunbathing</p>
      </li>
    </ul>
  </div>
</section>
