<section class="yahts">
  <div class="container">
    <div class="yahts-rental">
      <h2 class="yahts-title">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <button class="btn yahts-btn" type="button">Yacht rental</button>
    </div>
    <div class="swiper yahts-cards">
      <button class="swiper-button-prev btn">Prev</button>
      <button class="swiper-button-next btn">Next</button>
      <ul class="yahts-list swiper-wrapper">
        <li class="yahts-item swiper-slide">
          <div class="yahts-thumb">
            <img
              class="yahts-card-img"
              src="/img/yahts/yahts-img-1.jpg"
              alt="Yacht"
              width="322"
              height="268"
            />
          </div>
          <div class="yahts-card-content">
            <div class="yahts-card-heading">
              <h3 class="yahts-name">Arrow</h3>
              <p class="yahts-class">LUXURY YAHTS</p>
            </div>
            <dl class="yahts-detail-list">
              <div class="yahts-info">
                <dt class="yahts-detail-term">LENGTH</dt>
                <dd class="yahts-detail-data">48m(155ft)</dd>
              </div>
              <div class="yahts-info">
                <dt class="yahts-detail-term">BUILDER</dt>
                <dd class="yahts-detail-data">Admiral</dd>
              </div>
              <div class="yahts-info">
                <dt class="yahts-detail-term">BUILT</dt>
                <dd class="yahts-detail-data">2021</dd>
              </div>
              <div class="yahts-info">
                <dt class="yahts-detail-term">GUESTS</dt>
                <dd class="yahts-detail-data">11 in 5 cabins</dd>
              </div>
              <div class="yahts-info">
                <dt class="yahts-detail-term">PRICE</dt>
                <dd class="yahts-detail-data">€33,500,000</dd>
              </div>
            </dl>
          </div>
        </li>
        <li class="yahts-item swiper-slide">
          <div class="yahts-thumb">
            <img
              class="yahts-card-img"
              src="/img/yahts/yahts-img-2.jpg"
              alt="Yacht"
              width="322"
              height="268"
            />
          </div>
          <div class="yahts-card-content">
            <div class="yahts-card-heading">
              <h3 class="yahts-name">BENETTI OASIS 40M BO122</h3>
              <p class="yahts-class">LUXURY YAHTS</p>
            </div>
            <dl class="yahts-detail-list">
              <div class="yahts-info">
                <dt class="yahts-detail-term">LENGTH</dt>
                <dd class="yahts-detail-data">41m (133ft)</dd>
              </div>
              <div class="yahts-info">
                <dt class="yahts-detail-term">SHIPYARD</dt>
                <dd class="yahts-detail-data">Benetti</dd>
              </div>
              <div class="yahts-info">
                <dt class="yahts-detail-term">BUILT</dt>
                <dd class="yahts-detail-data">2025</dd>
              </div>
              <div class="yahts-info">
                <dt class="yahts-detail-term">GUESTS</dt>
                <dd class="yahts-detail-data">10 in 5 cabins</dd>
              </div>
              <div class="yahts-info">
                <dt class="yahts-detail-term">PRICE</dt>
                <dd class="yahts-detail-data">€23,210,000</dd>
              </div>
            </dl>
          </div>
        </li>
        <li class="swiper-slide">
          <article>
            <img
              src="/img/yahts/yahts-img-3.jpg"
              alt="Yacht"
              width="322"
              height="268"
            />
            <div>
              <h3>BELLE ANNA</h3>
              <p>LUXURY YAHTS</p>
            </div>
            <dl>
              <div>
                <dt>LENGTH</dt>
                <dd>50m(155ft)</dd>
              </div>
              <div>
                <dt>SHIPYARD</dt>
                <dd>ISA</dd>
              </div>
              <div>
                <dt>BUILT</dt>
                <dd>2012</dd>
              </div>
              <div>
                <dt>GUESTS</dt>
                <dd>12 in 6 cabins</dd>
              </div>
              <div>
                <dt>PRICE</dt>
                <dd>€21,000,000</dd>
              </div>
            </dl>
          </article>
        </li>
        <li class="swiper-slide">
          <article>
            <img
              src="/img/yahts/yahts-img-4.jpg"
              alt="Yacht"
              width="322"
              height="268"
            />
            <div>
              <h3>Ellen</h3>
              <p>LUXURY YAHTS</p>
            </div>
            <div>
              <dl>
                <div>
                  <dt>LENGTH</dt>
                  <dd>40m (132ft)</dd>
                </div>
                <div>
                  <dt>SHIPYARD</dt>
                  <dd>Perini Navi</dd>
                </div>
                <div>
                  <dt>BUILT</dt>
                  <dd>2001 / 2016 (refitted)</dd>
                </div>
                <div>
                  <dt>GUESTS</dt>
                  <dd>9 in 4 cabins</dd>
                </div>
                <div>
                  <dt>PRICE</dt>
                  <dd>€9,300,000</dd>
                </div>
              </dl>
            </div>
          </article>
        </li>
        <li class="swiper-slide">
          <article>
            <img
              src="/img/yahts/yahts-img-5.jpg"
              alt="Yacht"
              width="322"
              height="268"
            />
            <div>
              <h3>MIRAGE 401</h3>
              <p>LUXURY YAHTS</p>
            </div>
            <dl>
              <div>
                <dt>LENGTH</dt>
                <dd>38m (125ft)</dd>
              </div>
              <div>
                <dt>SHIPYARD</dt>
                <dd>Gianetti Custom Yachts</dd>
              </div>
              <div>
                <dt>BUILT</dt>
                <dd>2024</dd>
              </div>
              <div>
                <dt>GUESTS</dt>
                <dd>10 in 5 cabins</dd>
              </div>
              <div>
                <dt>PRICE</dt>
                <dd>€13,500,000</dd>
              </div>
            </dl>
          </article>
        </li>
        <li class="swiper-slide">
          <article>
            <img
              src="/img/yahts/yahts-img-6.jpg"
              alt="Yacht"
              width="322"
              height="268"
            />
            <div>
              <h3>KING</h3>
              <p>LUXURY YAHTS</p>
            </div>
            <dl>
              <div>
                <dt>LENGTH</dt>
                <dd>33m (109ft)</dd>
              </div>
              <div>
                <dt>SHIPYARD</dt>
                <dd>Overmarine</dd>
              </div>
              <div>
                <dt>BUILT</dt>
                <dd>2004 / 2018 (refitted)</dd>
              </div>
              <div>
                <dt>GUESTS</dt>
                <dd>9 in 4 cabins</dd>
              </div>
              <div>
                <dt>PRICE</dt>
                <dd>€1,850,000</dd>
              </div>
            </dl>
          </article>
        </li>
        <li class="swiper-slide">
          <article>
            <img
              src="/img/yahts/yahts-img-7.jpg"
              alt="Yacht"
              width="322"
              height="268"
            />
            <div>
              <h3>SALT</h3>
              <p>LUXURY YAHTS</p>
            </div>
            <div>
              <dl>
                <div>
                  <dt>LENGTH</dt>
                  <dd>32m (105ft)</dd>
                </div>
                <div>
                  <dt>BUILDER</dt>
                  <dd>SanLorenzo</dd>
                </div>
                <div>
                  <dt>BUILT</dt>
                  <dd>2019</dd>
                </div>
                <div>
                  <dt>GUESTS</dt>
                  <dd>11 in 5 cabins</dd>
                </div>
                <div>
                  <dt>PRICE</dt>
                  <dd>€7,800,000</dd>
                </div>
              </dl>
            </div>
          </article>
        </li>
        <li class="swiper-slide">
          <article>
            <img
              src="/img/yahts/yahts-img-8.jpg"
              alt="Yacht"
              width="322"
              height="268"
            />
            <div>
              <h3>STORM</h3>
              <p>LUXURY YAHTS</p>
            </div>
            <dl>
              <div>
                <dt>LENGTH</dt>
                <dd>32m (103ft)</dd>
              </div>
              <div>
                <dt>SHIPYARD</dt>
                <dd>Overmarine</dd>
              </div>
              <div>
                <dt>BUILT</dt>
                <dd>2005 / 2022 (refitted)</dd>
              </div>
              <div>
                <dt>GUESTS</dt>
                <dd>9 in 4 cabins</dd>
              </div>
              <div>
                <dt>PRICE</dt>
                <dd>€2,900,000</dd>
              </div>
            </dl>
          </article>
        </li>
        <li class="swiper-slide">
          <article>
            <img
              src="/img/yahts/yahts-img-9.jpg"
              alt="Yacht"
              width="322"
              height="268"
            />
            <div>
              <h3>COLLU</h3>
              <p>LUXURY YAHTS</p>
            </div>
            <dl>
              <div>
                <dt>LENGTH</dt>
                <dd>29m (96ft)</dd>
              </div>
              <div>
                <dt>SHIPYARD</dt>
                <dd>Ferretti</dd>
              </div>
              <div>
                <dt>BUILT</dt>
                <dd>2014</dd>
              </div>
              <div>
                <dt>GUESTS</dt>
                <dd>10 in 5 cabins</dd>
              </div>
              <div>
                <dt>PRICE</dt>
                <dd>$4,300,000</dd>
              </div>
            </dl>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
