<section>
  <div class="container">
    <h2>Choose your dream yacht and sail away into the sunset</h2>
    <button type="button">Yacht rental</button>
  </div>
  <ul>
    <li>
      <article>
        <img
          src="/img/yahts/yahts-img-1.jpg"
          alt="Yacht"
          width="322"
          height="268"
        />
        <div>
          <h3>Arrow</h3>
          <p>LUXURY YAHTS</p>
        </div>
        <dl>
          <div class="yahts-info">
            <dt>LENGTH</dt>
            <dd>48m(155ft)</dd>
          </div>
          <div>
            <dt>BUILDER</dt>
            <dd>Admiral</dd>
          </div>
          <div>
            <dt>BUILT</dt>
            <dd>2021</dd>
          </div>
          <div>
            <dt>GUESTS</dt>
            <dd>11 in 5 cabins</dd>
          </div>
          <div>
            <dt>PRICE</dt>
            <dd>€33,500,000</dd>
          </div>
        </dl>
      </article>
    </li>
    <li>
      <article>
        <img
          src="/img/yahts/yahts-img-2.jpg"
          alt="Yacht"
          width="322"
          height="268"
        />
        <div>
          <h3>BENETTI OASIS 40M BO122</h3>
          <p>LUXURY YAHTS</p>
        </div>
        <dl>
          <div>
            <dt>LENGTH</dt>
            <dd>41m (133ft)</dd>
          </div>
          <div>
            <dt>BUILDER</dt>
            <dd>Benetti</dd>
          </div>
          <div>
            <dt>BUILT</dt>
            <dd>2025</dd>
          </div>
          <div>
            <dt>GUESTS</dt>
            <dd>10 in 5 cabins</dd>
          </div>
          <div>
            <dt>PRICE</dt>
            <dd>€23,210,000</dd>
          </div>
        </dl>
      </article>
    </li>
    <li>
      <article>
        <img
          src="/img/yahts/yahts-img-3.jpg"
          alt="Yacht"
          width="322"
          height="268"
        />
        <div>
          <h3>BELLE ANNA</h3>
          <p>LUXURY YAHTS</p>
        </div>
        <dl>
          <div>
            <dt>LENGTH</dt>
            <dd>50m(155ft)</dd>
          </div>
          <div>
            <dt>BUILDER</dt>
            <dd>ISA</dd>
          </div>
          <div>
            <dt>BUILT</dt>
            <dd>2012</dd>
          </div>
          <div>
            <dt>GUESTS</dt>
            <dd>12 in 6 cabins</dd>
          </div>
          <div>
            <dt>PRICE</dt>
            <dd>€21,000,000</dd>
          </div>
        </dl>
      </article>
    </li>
    <li>
      <article>
        <img
          src="/img/yahts/yahts-img-4.jpg"
          alt="Yacht"
          width="322"
          height="268"
        />
        <div>
          <h3>Ellen</h3>
          <p>LUXURY YAHTS</p>
        </div>
        <div>
          <dl>
            <div>
              <dt>LENGTH</dt>
              <dd>40m (132ft)</dd>
            </div>
            <div>
              <dt>SHIPYARD</dt>
              <dd>Perini Navi</dd>
            </div>
            <div>
              <dt>BUILT</dt>
              <dd>2001 / 2016 (refitted)</dd>
            </div>
            <div>
              <dt>GUESTS</dt>
              <dd>9 in 4 cabins</dd>
            </div>
            <div>
              <dt>PRICE</dt>
              <dd>€9,300,000</dd>
            </div>
          </dl>
        </div>
      </article>
    </li>
    <li>
      <article>
        <img
          src="/img/yahts/yahts-img-5.jpg"
          alt="Yacht"
          width="322"
          height="268"
        />
        <div>
          <h3>MIRAGE 401</h3>
          <p>LUXURY YAHTS</p>
        </div>
        <dl>
          <div>
            <dt>LENGTH</dt>
            <dd>38m (125ft)</dd>
          </div>
          <div>
            <dt>BUILDER</dt>
            <dd>Gianetti Custom Yachts</dd>
          </div>
          <div>
            <dt>BUILT</dt>
            <dd>2024</dd>
          </div>
          <div>
            <dt>GUESTS</dt>
            <dd>10 in 5 cabins</dd>
          </div>
          <div>
            <dt>PRICE</dt>
            <dd>€13,500,000</dd>
          </div>
        </dl>
      </article>
    </li>
    <li>
      <article>
        <img
          src="/img/yahts/yahts-img-6.jpg"
          alt="Yacht"
          width="322"
          height="268"
        />
        <div>
          <h3>KING</h3>
          <p>LUXURY YAHTS</p>
        </div>
        <dl>
          <div>
            <dt>LENGTH</dt>
            <dd>33m (109ft)</dd>
          </div>
          <div>
            <dt>BUILDER</dt>
            <dd>Overmarine</dd>
          </div>
          <div>
            <dt>BUILT</dt>
            <dd>2004 / 2018 (refitted)</dd>
          </div>
          <div>
            <dt>GUESTS</dt>
            <dd>9 in 4 cabins</dd>
          </div>
          <div>
            <dt>PRICE</dt>
            <dd>€1,850,000</dd>
          </div>
        </dl>
      </article>
    </li>
    <li>
      <article>
        <img
          src="/img/yahts/yahts-img-7.jpg"
          alt="Yacht"
          width="322"
          height="268"
        />
        <div>
          <h3>SALT</h3>
          <p>LUXURY YAHTS</p>
        </div>
        <div>
          <dl>
            <div>
              <dt>LENGTH</dt>
              <dd>32m (105ft)</dd>
            </div>
            <div>
              <dt>BUILDER</dt>
              <dd>SanLorenzo</dd>
            </div>
            <div>
              <dt>BUILT</dt>
              <dd>2019</dd>
            </div>
            <div>
              <dt>GUESTS</dt>
              <dd>11 in 5 cabins</dd>
            </div>
            <div>
              <dt>PRICE</dt>
              <dd>€7,800,000</dd>
            </div>
          </dl>
        </div>
      </article>
    </li>
    <li>
      <article>
        <img
          src="/img/yahts/yahts-img-8.jpg"
          alt="Yacht"
          width="322"
          height="268"
        />
        <div>
          <h3>STORM</h3>
          <p>LUXURY YAHTS</p>
        </div>
        <dl>
          <div>
            <dt>LENGTH</dt>
            <dd>32m (103ft)</dd>
          </div>
          <div>
            <dt>BUILDER</dt>
            <dd>Overmarine</dd>
          </div>
          <div>
            <dt>BUILT</dt>
            <dd>2005 / 2022 (refitted)</dd>
          </div>
          <div>
            <dt>GUESTS</dt>
            <dd>9 in 4 cabins</dd>
          </div>
          <div>
            <dt>PRICE</dt>
            <dd>€2,900,000</dd>
          </div>
        </dl>
      </article>
    </li>
    <li>
      <article>
        <img
          src="/img/yahts/yahts-img-9.jpg"
          alt="Yacht"
          width="322"
          height="268"
        />
        <div>
          <h3>COLLU</h3>
          <p>LUXURY YAHTS</p>
        </div>
        <dl>
          <div>
            <dt>LENGTH</dt>
            <dd>29m (96ft)</dd>
          </div>
          <div>
            <dt>BUILDER</dt>
            <dd>Ferretti</dd>
          </div>
          <div>
            <dt>BUILT</dt>
            <dd>2014</dd>
          </div>
          <div>
            <dt>GUESTS</dt>
            <dd>10 in 5 cabins</dd>
          </div>
          <div>
            <dt>PRICE</dt>
            <dd>$4,300,000</dd>
          </div>
        </dl>
      </article>
    </li>
  </ul>
</section>
