/* .about {
} */
/* .about-left-content {
} */
.about-left-accent {
  font-style: italic;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .about-right-content {
}
.about-right-list {
}
.about-gallery {
} */
