.about {
  padding-bottom: 164px;
}
.about-container {
  display: flex;
  flex-direction: column;
}
.about-top-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.about-left-content {
  width: 514px;
}
.about-left-accent {
  font-style: italic;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-right-content {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
/* .about-right-list {
} */
.about-column1 {
  width: 183px;
}
.about-column2 {
  width: 185px;
}
.about-gallery {
  display: flex;
  gap: 32px;
}
.about-gallery-left {
  align-self: flex-end;
  margin-bottom: -70px;
}
.about-gallery-right {
  position: relative;
  align-self: flex-start;
}
.about-gradient {
  position: absolute;
  bottom: -276px;
  z-index: -1;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #11131f 100%);
}
