:root {
  /* Fonts */
  --font: DM Sans, sans-serif;
  /* Colors */
  --main-text-color: #f6f5ef;
  --secondary-text-color: #11131f;
  --accent-text-color: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);

  /* Background color */
  --main-bg-color: #11131f;
  --secondary-bg-color: #1f212d;
  --button-bg-color: #93abae;
  --accent-bg-color: #88b3b9;
  /* Others */

  /* Animation */
  /* --anim-superfast: 150ms ease-in;
  --anim-fast: 300ms ease-in; */
  --anim-superfast: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --anim-fast: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --anim-slow: 1000ms ease-in-out;
  /* --anim-fas2: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
html {
  scroll-behavior: smooth;
}

body {
  /* position: relative; */
  overflow-x: hidden;
  font-family: var(--font);
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  /* filter: blur(200px); */
}

@media only screen and (min-width: 1280px) {
  body {
    background-image: url(/img/bg/mask-group.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: 0 226px; */
  }
}
main {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -0.04em;
  color: #f6f5ef;
  line-height: 1.1;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 60px;
    letter-spacing: -0.06em;
  }
}
.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.045em;
}
@media only screen and (min-width: 768px) {
  .subtitle {
    font-size: 32px;
  }
}
.btn {
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.045em;
  border-radius: 60px;
  padding: 13px 27px;
  border: 1px solid var(--main-text-color);
  transition: color var(--anim-fast), border-color var(--anim-fast);
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 18px;
  }
}

.btn:hover,
.btn:focus {
  color: var(--button-bg-color);
  border-color: var(--button-bg-color);
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .logo {
    font-size: 18px;
    /* letter-spacing: 0.02em; */
  }
}
.nav {
  display: flex;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    gap: 24px;
  }
}
.nav-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .nav-link {
    padding: 32px 0;
  }
}

/* .nav-link:hover,
.nav-link:focus,
.logo:hover,
.logo:focus {
  background: var(--accent-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
:where(.nav-link, .logo):hover,
:where(.nav-link, .logo):focus {
  background: var(--accent-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
