/* .footer {
} */
/* .footer-wraper {
} */
/* .footer-logo {
}
.footer-logo-img {
} */
.footer-logo-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
/* .footer-nav {
}
.footer-nav-list {
} */
.footer-nav-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* .footer-nav-link {
} */
.footer-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
/* .footer-social-list {
}
.footer-social-item {
} */
/* .footer-social-link {
} */
.footer-privacy {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  opacity: 0.5;
}
