.header {
  padding-top: 32px;
  padding-bottom: 31px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 64px; */
  /* padding-top: 32px;
  padding-bottom: 31px; */
  border-bottom: 1px solid rgba(246, 245, 239, 0.2);
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* .header-logo-img {
} */

.header-logo-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.header-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-nav-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-link {
  padding: 32px 0;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-logo:hover,
.header-logo:focus {
  color: var(--accent-bg-color);
}
