.hero {
  padding-top: 64px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}
.hero-left-content {
  position: relative;
  color: var(--secondary-text-color);
}
.hero-left-mask {
  position: absolute;
  top: 0;
  left: 0;
}
.hero-clients-img:nth-child(2) {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 3;
}
.hero-clients-img:nth-child(3) {
  position: absolute;
  top: 32px;
  left: 77px;
  z-index: 2;
}
.hero-clients-img:nth-child(4) {
  position: absolute;
  top: 32px;
  left: 125px;
  z-index: 1;
}
.hero-clients-text {
  position: absolute;
  top: 99px;
  left: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* color: var(--secondary-text-color); */
}
.hero-owner-img {
  position: absolute;
  top: 32px;
  left: 305px;
}
.hero-yacht-img {
  position: absolute;
  top: 225px;
  left: 24px;
}
.hero-left-sign {
  position: absolute;
  top: 468px;
  left: 32px;
  width: 362px;
  display: flex;
  gap: 14px;
  align-items: center;
}
.hero-left-digit {
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.hero-left-text {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
}
.hero-right-content {
  width: 554px;
}
.hero-right-accent {
  font-style: italic;
  background: var(--accent-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-right-text {
  margin-top: 16px;
  margin-bottom: 32px;
}
.hero-right-list {
  display: flex;
  gap: 11px;
}
.hero-right-btn1 {
  background-color: var(--button-bg-color);
  color: var(--main-text-color);
  border: none;
  min-width: 152px;
  padding: 14px 28px;
}
.hero-right-btn1:hover,
.hero-right-btn1:focus {
  background-color: var(--accent-bg-color);
  color: var(--main-text-color);
}
.hero-right-btn2 {
  min-width: 118px;
}
.hero-right-btn2:hover,
.hero-right-btn2:focus {
  color: var(--button-bg-color);
  border-color: var(--button-bg-color);
}
