.hero {
  padding-top: 40px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 164px;
  }
}
.hero-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .hero-container {
    gap: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-right-content {
    flex-basis: 554px;
  }
}

.hero-right-accent {
  font-style: italic;
  background: var(--accent-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-right-text {
  margin-top: 14px;
  margin-bottom: 24px;
  font-size: 14px;
}

@media only screen and (min-width: 1280px) {
  .hero-right-text {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 16px;
  }
}
.hero-right-list {
  display: flex;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .hero-right-list {
    gap: 11px;
  }
}

.hero-right-btn1 {
  background-color: var(--button-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 14px 28px;
  transition: background-color var(--anim-fast), color var(--anim-fast);
}

.hero-right-btn1:hover,
.hero-right-btn1:focus {
  background-color: var(--accent-bg-color);
  color: var(--main-text-color);
}

.hero-left-content {
  position: relative;
}
/* .hero-image-container {
  width: 335px;
  height: 427px;
  background-image: url(/img/hero/mask_mob@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--secondary-text-color);
}
@supports (
  background-image:
    url('data:image/webp;base64,UklGRiIAAABXRUJQVlA4ICwAAAAwAQCdASoBAAEAAkA4JQBOgAA=')
) {
  .hero-image-container {
    background-image: url(/img/hero/mask_mob@1x.webp);
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-image-container {
    background-image: url(/img/hero/mask_mob@2x.png);
  }
  @supports (
    background-image:
      url('data:image/webp;base64,UklGRiIAAABXRUJQVlA4ICwAAAAwAQCdASoBAAEAAkA4JQBOgAA=')
  ) {
    .hero-image-container {
      background-image: url(/img/hero/mask_mob@2x.webp);
    }
  }
}
@media only screen and (min-width: 768px) {
  .hero-image-container {
    width: 426px;
    height: 598px;
    background-image: url(/img/hero/mask_tab@1x.png);
  }
  @supports (
    background-image:
      url('data:image/webp;base64,UklGRiIAAABXRUJQVlA4ICwAAAAwAQCdASoBAAEAAkA4JQBOgAA=')
  ) {
    .hero-image-container {
      background-image: url(/img/hero/mask_tab@1x.webp);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-image-container {
      background-image: url(/img/hero/mask_tab@2x.png);
    }
    @supports (
      background-image:
        url('data:image/webp;base64,UklGRiIAAABXRUJQVlA4ICwAAAAwAQCdASoBAAEAAkA4JQBOgAA=')
    ) {
      .hero-image-container {
        background-image: url(/img/hero/mask_tab@2x.webp);
      }
    }
  }
} */
.hero-image-container {
  width: 335px;
  height: 427px;
  background-image: url(/img/hero/mask_mob@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--secondary-text-color);
}

@supports (
  background-image:
    url('data:image/webp;base64,UklGRiIAAABXRUJQVlA4ICwAAAAwAQCdASoBAAEAAkA4JQBOgAA=')
) {
  .hero-image-container {
    background-image: url(/img/hero/mask_mob@1x.webp);
  }
}

/* Медіа запити для підтримки ретини */
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-image-container {
    background-image: url(/img/hero/mask_mob@2x.png);
  }

  @supports (
    background-image:
      url('data:image/webp;base64,UklGRiIAAABXRUJQVlA4ICwAAAAwAQCdASoBAAEAAkA4JQBOgAA=')
  ) {
    .hero-image-container {
      background-image: url(/img/hero/mask_mob@2x.webp);
    }
  }
}

/* Медіа запит для планшетів і більших екранів */
@media only screen and (min-width: 768px) {
  .hero-image-container {
    width: 426px;
    height: 598px;
    background-image: url(/img/hero/mask_tab@1x.png);
  }

  @supports (
    background-image:
      url('data:image/webp;base64,UklGRiIAAABXRUJQVlA4ICwAAAAwAQCdASoBAAEAAkA4JQBOgAA=')
  ) {
    .hero-image-container {
      background-image: url(/img/hero/mask_tab@1x.webp);
    }
  }

  /* Медіа запити для ретини для планшетів */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-image-container {
      background-image: url(/img/hero/mask_tab@2x.png);
    }
    @supports (
      background-image:
        url('data:image/webp;base64,UklGRiIAAABXRUJQVlA4ICwAAAAwAQCdASoBAAEAAkA4JQBOgAA=')
    ) {
      .hero-image-container {
        background-image: url(/img/hero/mask_tab@2x.webp);
      }
    }
  }
}

/* @media only screen and (min-width: 1280px) {
  .hero-image-container {
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
} */
.hero-clients-wraper {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .hero-clients-wraper {
    top: 32px;
    left: 32px;
  }
}
.hero-clients-list {
  display: flex;
  margin-bottom: 13px;
}
.hero-clients-item {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .hero-clients-item {
    width: 56px;
    height: 56px;
  }
}
.hero-clients-item:nth-child(2) {
  margin-left: -7px;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .hero-clients-item:nth-child(2) {
    margin-left: -11px;
  }
}
.hero-clients-item:nth-child(3) {
  margin-left: -7px;
  z-index: -2;
}
@media only screen and (min-width: 768px) {
  .hero-clients-item:nth-child(3) {
    margin-left: -11px;
  }
}
.hero-clients-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.hero-owner-wrapper {
  position: absolute;
  top: 35px;
  left: 214px;
  width: 133px;
  height: 133px;
  border-radius: 24px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .hero-owner-wrapper {
    top: 32px;
    left: 339px;
    width: 233px;
    height: 233px;
  }
}
@media only screen and (min-width: minwidthpx) {
  .hero-owner-wrapper {
    left: 305px;
  }
}
.hero-yacht-wrapper {
  position: absolute;
  top: 152px;
  left: 24px;
  width: 287px;
  height: 167px;
}
@media only screen and (min-width: 768px) {
  .hero-yacht-wrapper {
    top: 225px;
    width: 378px;
    height: 221px;
  }
}
/* .hero-yacht-img {
  position: absolute;
  top: 152px;
  left: 24px;
}
@media only screen and (min-width: 768px) {
  .hero-yacht-img {
    top: 225px;
  }
} */
.hero-left-sign {
  position: absolute;
  top: 333px;
  left: 24px;
  width: 287px;
  display: flex;
  gap: 14px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .hero-left-sign {
    top: 468px;
    left: 32px;
    width: 362px;
  }
}
.hero-left-digit {
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media only screen and (min-width: 768px) {
  .hero-left-digit {
    font-size: 60px;
  }
}
.hero-left-text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
}
@media only screen and (min-width: 768px) {
  .hero-left-text {
    font-size: 18px;
    line-height: 1.1;
  }
}
