body.menu-open {
  overflow: auto;
  position: relative;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  z-index: 999;
  transform: translateX(100%);
  background: radial-gradient(
      279px 279px at -5% 80%,
      hsla(196, 23%, 65%, 0.6) -25%,
      hsla(231, 29%, 9%, 0) 120%
    ),
    radial-gradient(
        279px 279px at 85% 105%,
        rgba(148, 157, 173, 0.6) -25%,
        hsla(231, 29%, 9%, 0) 140%
      )
      var(--main-bg-color);

  /* visibility: hidden;
  opacity: 0; */
  transition: transform var(--anim-fast);
}
.menu-container.is-open {
  transform: translateX(0);
  /* visibility: visible;
  opacity: 1; */
}
.menu-container .menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: transparent;
}
.menu-header {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}
.menu-header::after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
