/* .modal {
} */
.modal-container {
  position: relative;
  width: 570px;
  border-radius: 40px;
  background-color: var(--secondary-bg-color);
  padding-top: 97px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 64px;
}
.modal-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  --color1: var(--button-bg-color);
}
.modal-img {
  margin: 0 auto;
  margin-bottom: 21px;
}
.modal-text {
  max-width: 442px;
  margin-top: 16px;
  margin-bottom: 0;
}
