.rent {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .rent {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .rent {
    padding-bottom: 164px;
  }
}
.rent-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .rent-container {
    justify-content: center;
    align-items: end;
    flex-direction: row;
    gap: 69px;
  }
}
@media only screen and (min-width: 1280px) {
  .rent-container {
    gap: 188px;
  }
}
@media only screen and (min-width: 768px) {
  .rent-content {
    width: 271px;
  }
}
@media only screen and (min-width: 768px) {
  .rent-content {
    width: 282px;
  }
}

.rent-title {
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .rent-title {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .rent-title {
    margin-bottom: 64px;
  }
}
.rent-form {
  width: 335px;
}
@media only screen and (min-width: 768px) {
  .rent-form {
    width: 364px;
  }
}
@media only screen and (min-width: 1280px) {
  .rent-forn {
    width: 443px;
  }
}

.rent-form-field {
  position: relative;
  display: block;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .rent-form-field {
    margin-bottom: 28px;
  }
}
.rent-form-field.comment {
  margin-bottom: 0;
}
.rent-form-input {
  width: 100%;
  height: 33px;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  outline: transparent;
  /* outline-offset: -1.5px; */
  border-bottom: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  /* transition: border-radius var(--anim-fast); */
}
@media only screen and (min-width: 768px) {
  .rent-form-input {
    height: 35px;
  }
}
/* .rent-form-input:focus,
.rent-form-comment:focus {
  outline: 1.5px solid var(--button-bg-color);
  border-radius: 10px;
} */
.rent-form-tag {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  transform-origin: left center;
  transition: color var(--anim-fast), transform var(--anim-fast);
}

@media only screen and (min-width: 768px) {
  .rent-form-tag {
    font-size: 16px;
  }
}
.rent-form-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--main-text-color) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
.rent-form-input:focus + .rent-form-tag,
.rent-form-input:not(:placeholder-shown) + .rent-form-tag,
.rent-form-comment:focus + .rent-form-tag,
.rent-form-comment:not(:placeholder-shown) + .rent-form-tag {
  transform: translateY(-100%) scale(0.8);
  color: var(--button-bg-color);
}
.rent-form-input::placeholder {
  opacity: 0;
  transition: opacity var(--anim-fast);
}
.rent-form-input:focus::placeholder {
  opacity: 1;
  transition-delay: 300ms;
}
.rent-form-comment {
  width: 100%;
  height: 75px;
  padding: 5px 5px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  outline: transparent;
  outline-offset: -1px;
  resize: none;
  margin-bottom: 24px;
  transition: color var(--anim-fast), transform var(--anim-fast);
}
@media only screen and (min-width: 768px) {
  .rent-form-comment {
    height: 77px;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .rent-form-comment {
    margin-bottom: 64px;
  }
}
.rent-form-comment:focus + .rent-form-tag {
  transform: translateY(-100%) scale(0.8);
  color: var(--button-bg-color);
}
.rent-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 48px;
  padding: 14px 28px;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.045em;
  border-radius: 60px;
  border: 1px solid var(--main-text-color);
  transition: border-color var(--anim-fast), color var(--anim-fast);
  transition-duration: 100ms;
  outline: transparent;
}
@media only screen and (min-width: 768px) {
  .rent-form-btn {
    font-size: 18px;
  }
}
.rent-form-btn:hover,
.rent-form-btn:focus {
  color: var(--button-bg-color);
  border-color: var(--button-bg-color);
}
.rent-form-btn:hover .rent-btn-icon,
.rent-form-btn:focus .rent-btn-icon {
  --color1: var(--button-bg-color);
}
