.rent {
  padding-top: 164px;
}
.rent-container {
  display: flex;
  flex-direction: row;
}
/* .rent-content {
} */
.rent-title {
  margin-bottom: 64px;
}

/* .rent-form {
} */
.rent-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 14px 28px;
}
.rent-form-btn:hover .rent-btn-icon,
.rent-form-btn:focus .rent-btn-icon {
  --color1: var(--button-bg-color);
}
