.reviews {
  padding-bottom: 164px;
}
.reviews-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.reviews-title {
  max-width: 497px;
}
.reviews-text-accent {
  font-style: italic;
  background: var(--accent-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviews-par {
  max-width: 273px;
}
/* .reviews-cards {
} */
.reviews-list {
  display: flex;
  gap: 32px;
}
.reviews-item {
  background-color: var(--secondary-bg-color);
  border-radius: 24px;
  max-width: 384px;
  padding: 32px;
}
.reviews-item-img {
  margin: 0 auto;
  margin-bottom: 24px;
}
.reviews-item-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 8px;
}
.reviews-item-desc {
  text-align: center;
  opacity: 0.5;
}
.reviews-goup-btn {
  position: fixed;
  z-index: 10;
  right: 32px;
  bottom: 32px;
  display: block;
  margin-left: auto;
  padding: 19px 26px;
  width: 68px;
  height: 68px;
  border: none;
  border-radius: 8px;
  background-color: var(--button-bg-color);
  visibility: hidden;
  opacity: 0;
  transition: background-color var(--anim-fast), visibility var(--anim-fast),
    opacity var(--anim-fast);
}
.reviews-goup-btn.active {
  visibility: visible;
  opacity: 1;
}
.reviews-goup-btn:hover,
.reviews-goup-btn:focus {
  background-color: var(--accent-bg-color);
}
