.services {
  padding-top: 164px;
}
/* .services-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
} */

.services-gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 64px;
}
.services-thumb {
  position: relative;
  display: inline-block;
}

.services-thumb:nth-child(3) {
  margin-left: 340px;
}
.services-img {
  border-radius: 40px;
}
.services-text {
  position: absolute;
  left: 32px;
  bottom: 32px;
  margin: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
  background-color: var(--main-text-color);
  border-radius: 60px;
  padding: 14px 28px;
  /* max-width: 148px; */
}
