.yahts {
  margin-top: -122px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .yahts {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .yahts {
    padding-bottom: 164px;
  }
}
.yahts-rental {
  margin: 0 auto;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .yahts-rental {
    width: 640px;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .yahts-rental {
    width: 882px;
    margin-bottom: 164px;
  }
}
.yahts-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .yahts-title {
    font-size: 70px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .yahts-title {
    font-size: 100px;
  }
}

.yahts-cards {
  position: relative;
  height: 530px;
}
@media only screen and (min-width: 768px) {
  .yahts-cards {
    height: 576px;
  }
}
@media only screen and (min-width: 1280px) {
  .yahts-cards {
    height: 508px;
  }
}
.yahts .swiper {
  margin: 0 auto;
}
@media only screen and (min-width: 1280px) {
  .yahts .swiper {
    max-width: 1094px;
  }
}
.yahts .swiper-wrapper {
  display: flex;
  align-items: center;
}

.yahts .swiper-slide {
  border-radius: 24px;
  background-color: var(--secondary-bg-color);
}

.yahts-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 1094px;
  gap: 18px;
}
@media only screen and (min-width: 768px) {
  .yahts-list {
    gap: 16px;
  }
}
.yahts-thumb {
  padding: 18px;
  padding-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .yahts-thumb {
    padding: 16px;
    padding-bottom: 0;
  }
}
.yahts-card-img {
  border-radius: 24px;
  width: 299px;
  height: 251px;
  transition: transform var(--anim-fast), filter var(--anim-fast);
}
@media only screen and (min-width: 768px) {
  .yahts-card-img {
    width: 312px;
    height: 268px;
  }
}
@media only screen and (min-width: 1280px) {
  .yahts-card-img {
    width: 322px;
  }
}

.yahts .swiper-slide:hover .yahts-card-img {
  transform: scale(1.1);
  filter: brightness(1.4);
}
.yahts-card-content {
  padding: 24px;
}
@media only screen and (min-width: 768px) {
  .yahts-card-content {
    padding: 32px;
  }
}
.yahts-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .yahts-card-heading {
    margin-bottom: 32px;
  }
}
.yahts-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.swiper-slide:nth-child(2) .yahts-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 165px;
  cursor: pointer;
}

.yahts-class {
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.5;
}

.yahts-info-item {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.yahts-info-item:not(:last-child) {
  margin-bottom: 6px;
}
.yahts-detail-term {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  min-width: 67px;
  margin-right: 32px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  display: block;
  top: 100%;
  transform: translateY(-50%);
  z-index: 10;
  height: 36px;
  width: 46px;
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid var(--main-text-color);
  transition: border-color var(--anim-fast);
  transition-duration: 100ms;
}

.swiper-button-prev {
  left: 115px;
}
.swiper-button-next {
  right: 115px;
}

@media only screen and (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .swiper-button-prev {
    left: 294px;
  }
  .swiper-button-next {
    right: 294px;
  }
}
@media only screen and (min-width: 1280px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
    /* transform: translateY(-50%); */
    transform: translateY(0);
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  visibility: hidden;
  opacity: 0;
}

:where(.swiper-button-prev, .swiper-button-next):hover,
:where(.swiper-button-prev, .swiper-button-next):focus {
  border-color: var(--button-bg-color);
}
.swiper-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 18px;
  max-height: 8px;
  pointer-events: none;
}
:where(.swiper-button-prev, .swiper-button-next):hover .swiper-icon,
:where(.swiper-button-prev, .swiper-button-next):focus .swiper-icon {
  --color1: var(--button-bg-color);
}
