/* .yahts {
} */
.yahts-rental {
  width: 882px;
  margin: 0 auto;
  margin-bottom: 164px;
}
.yahts-title {
  font-weight: 500;
  font-size: 100px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin-bottom: 64px;
}
.yahts-btn {
  min-width: 154px;
}

.swiper-button-prev:hover .swiper-icon,
.swiper-button-prev:focus .swiper-icon,
.swiper-button-next:hover .swiper-icon,
.swiper-button-next:focus .swiper-icon {
  --color1: var(--button-bg-color);
}

/* .swiper {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-wrapper {
}
.swiper-slide {
} */
/* .yahts-cards {
  
} */
.yahts-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1094px;
  gap: 16px;
}
.yahts-item {
  width: 354px;
  border-radius: 24px;
  background-color: var(--secondary-bg-color);
}
.yahts-thumb {
  padding: 16px;
  padding-bottom: 0;
}
.yahts-card-img {
  border-radius: 24px;
  width: 322px;
  height: 268px;
}
.yahts-card-content {
  padding: 32px;
}
.yahts-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.yahts-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.yahts-class {
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.5;
}

.yahts-info-item {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.yahts-info-item:not(:last-child) {
  margin-bottom: 6px;
}
.yahts-detail-term {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  min-width: 67px;
  margin-right: 32px;
}

.yahts-detail-data {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin: 0;
}
